@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #FFF;
}

.page-wrapper {
  min-height: 100%;
  position: relative;
}

.header {
  height: 100px;
  padding: 20px 0 0 0;
  color: #FFF;
  background: no-repeat url("data:image/svg+xml;encoding=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22100%22%20width%3D%22800%22%20version%3D%221.1%22%20viewBox%3D%220%200%20800%20100%22%3E%0A%20%3Cg%20transform%3D%22translate(0%20-952.36)%22%3E%0A%20%20%3Cpath%20d%3D%22m0%20952.36h800l-800%20100.04z%22%20fill%3D%22%231b1e25%22%2F%3E%0A%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}

.header__title {
  display: block;
  background-color: rgba(150, 150, 150, 0.5);
  line-height: 50px;
  padding-left: 20px;
  font-size: 2em;
  display: block;
}

.content {
  padding-bottom: 110px;
}

.content__container {
  max-width: 700px;
  margin: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: no-repeat url("data:image/svg+xml;encoding=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22100%22%20width%3D%22800%22%20version%3D%221.1%22%20viewBox%3D%220%200%20800%20100%22%3E%0A%20%3Cg%20transform%3D%22matrix(-1%200%200%20-.99960%20800%201052)%22%3E%0A%20%20%3Cpath%20fill%3D%22%231b1e25%22%20d%3D%22m0%20952.36h800l-800%20100.04z%22%2F%3E%0A%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  background-position: right bottom;
  text-align: right;
}

.footer__text {
  margin-top: 50px;
  margin-right: 20px;
  color: #fff;
  font-size:1.2em;
}

/* categories navigation */
.categories-navigation {
  clear: both;
}

.categories-navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

.categories-navigation__button {
  float: left;
  margin-left: 20px;
  font-size: 1.5em;
  padding: 0 20px;
  cursor: pointer;
  background-color: #e6e6e6;
}

.categories-navigation__button:hover {
  background-color: #b3b3b3;
}

.categories-navigation__botton--selected {
  color: #FFF;
  background-color: #1b1e25;
}

@media (max-width: 320px) {
  .categories-navigation__list {
    float: none;
  }

  .categories-navigation__button {
    display: block;
    float: none;
    margin-left: 0;
    margin-bottom: 3px;
  }
}

/* gifs list */
.thumb {
  background: no-repeat right top url("data:image/svg+xml;encoding=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22200%22%20width%3D%225%22%20version%3D%221.1%22%20viewBox%3D%220%200%205%20200%22%3E%0A%20%3Cg%20transform%3D%22translate(0%20-852.36)%22%3E%0A%20%20%3Crect%20height%3D%22200%22%20width%3D%225%22%20y%3D%22852.36%22%20x%3D%220%22%20fill%3D%22%23e6e6e6%22%2F%3E%0A%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: 5px solid #e6e6e6;
  border-bottom: 5px solid #e6e6e6;
}

.thumb__container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  float: left;
  margin: 10px 20px;
  position: relative;
  cursor: pointer;
}

.thumb__container__image {
  min-width: 100px;
  min-height: 100px;
}

.thumb__mask {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: no-repeat url("data:image/svg+xml;encoding=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22100%22%20width%3D%22100%22%20version%3D%221.1%22%20viewBox%3D%220%200%20100%20100%22%3E%0A%20%3Cg%20transform%3D%22translate(0%20-952.36)%22%20fill%3D%22%23FFFFFF%22%3E%0A%20%20%3Cpath%20d%3D%22m0%20952.36h100l-100%2017.84z%22%2F%3E%0A%20%20%3Cpath%20d%3D%22m100%201052.4h-100l100-17.84z%22%2F%3E%0A%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}

.thumb__mask:hover {
  background: no-repeat url("data:image/svg+xml;encoding=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22100%22%20width%3D%22100%22%20version%3D%221.1%22%20viewBox%3D%220%200%20100%20100%22%3E%0A%20%3Cg%20transform%3D%22translate(0%20-952.36)%22%3E%0A%20%20%3Cg%20fill%3D%22%23fff%22%3E%0A%20%20%20%3Crect%20fill-opacity%3D%22.31373%22%20height%3D%22100%22%20width%3D%22100%22%20y%3D%22952.36%22%20x%3D%220%22%2F%3E%0A%20%20%20%3Cpath%20d%3D%22m0%20952.36h100l-100%2017.84z%22%2F%3E%0A%20%20%20%3Cpath%20d%3D%22m100%201052.4h-100l100-17.84z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%20%20%3Cpath%20d%3D%22m33.175%20952.92-14.416%2013.03-17.918-7.52z%22%20fill%3D%22%23999%22%2F%3E%0A%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}

/*bottom navigation */
.navigation-button {
  font-size: 2em;
  background-color: #e6e6e6;
  cursor: pointer;
  padding: 0 10px;
  line-height: 30px;
  margin-top: 7px;
}

.navigation-button:hover {
  color: #FFF;
  background-color: #b3b3b3;
}

/* layout */
.float__left {
  float: left;
}

.float__right {
  float: right;
}

.float__clear {
  clear: both;
}

/* Modal Dialog */
.ng-modal {
  position: fixed;
  z-index: 9999;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.ng-modal__overlay {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.ng-modal__dialog {
  position: absolute;
  background-color: #FFF;
  padding: 10px;
  z-index: 10000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.83);
  -moz-box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.83);
  box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.83);
}

.ng-modal__dialog__content {
  overflow: hidden;
  height: 100%;
}

.ng-modal__close {
  position: absolute;
  z-index: 10001;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.ng-modal__ontent {
  margin: 0;
  padding: 0;
}

.ng-modal__vid-player {
  margin: 0;
  padding: 0;
  min-height: 200px;
  max-height: 700px;
  min-width: 300px;
  max-width: 900px;
  background: transparent no-repeat center center url("data:image/svg+xml;encoding=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2276%22%20width%3D%22200%22%20version%3D%221.1%22%20viewBox%3D%220%200%20200%2076%22%3E%0A%20%3Cg%20transform%3D%22translate(0%20-976.36)%22%3E%0A%20%20%3Cpath%20fill%3D%22%23ccc%22%20d%3D%22m124.01%201017.4c-1.454-0.2444-2.8205-1.2581-3.4865-2.5865-0.30055-0.5993-4.6342-13.5-4.7612-14.174-0.29769-1.5784%200.53105-3.1522%202.0139-3.8246%201.6342-0.741%203.5754-0.035%204.3954%201.5987%200.0806%200.16066%201.7783%205.316%202.5766%207.8244%200.0248%200.078%200.0566%200.1416%200.0706%200.1412s0.93816-2.8341%202.0538-6.297c2.924-9.0767%202.8582-8.8777%203.0452-9.1966%200.59962-1.0221%201.7298-1.6615%202.9369-1.6615%201.3113%200%202.4243%200.68605%203.0099%201.8553%200.26056%200.5202%200.35977%200.94698%200.36023%201.5497%200.00041%200.59638%200.10642%200.21273-1.1895%204.3065-1.849%205.8412-5.1988%2016.411-5.3727%2016.953-0.5358%201.6696-1.6242%202.8089-3.1951%203.3444-0.66652%200.2272-1.6863%200.2965-2.4576%200.1669zm25.52%200.01c-2.1752-0.2765-4.0698-0.908-5.7404-1.9134-2.6852-1.616-4.6311-4.0269-5.6803-7.0376-1.3872-3.9804-1.0051-8.7776%200.98571-12.376%202.1499-3.8857%205.8255-6.3288%2010.217-6.791%200.83215-0.0876%202.6304-0.0644%203.3942%200.0438%201.547%200.21905%202.7959%200.59098%204.0486%201.2058%201.1499%200.56432%202.0304%201.1841%202.9411%202.0704%201.7132%201.6672%202.8846%203.727%203.6009%206.3318%200.24776%200.90103%200.2894%201.2572%200.2896%202.4778%200%201.1772-0.0296%201.4181-0.26539%202.1481-0.49949%201.5462-1.7057%202.5102-3.3577%202.6834-0.25838%200.027-3.3072%200.044-8.0876%200.044l-7.6729%200.0007%200.0274%200.12c0.16866%200.7394%200.70223%201.9025%201.1866%202.5865%200.3574%200.5047%201.0879%201.2438%201.5601%201.5786%200.95809%200.6793%201.9671%201.0805%203.2298%201.2842%200.67861%200.1094%202.0543%200.111%202.7012%200%201.6837-0.281%203.1878-0.9661%204.6498-2.1183%200.53687-0.4231%200.86197-0.6116%201.336-0.7748%200.30242-0.1041%200.41943-0.1206%200.87306-0.1229%200.61104%200%200.92739%200.082%201.3757%200.3721%201.2152%200.7855%201.6027%202.2592%200.95151%203.6194-0.15379%200.3213-0.24025%200.4326-0.64428%200.8295-1.7175%201.6869-4.1025%202.9522-6.5301%203.4643-1.2589%200.2655-1.6285%200.3004-3.3378%200.3149-1.1426%200.01-1.723%200-2.0517-0.045zm7.4372-17.387c-0.0707-0.29057-0.33902-1.0505-0.50005-1.4164-0.86469-1.965-2.4228-3.2676-4.4395-3.7116-0.58016-0.12773-1.9796-0.13958-2.5412-0.0215-0.90354%200.18995-1.8293%200.59364-2.5032%201.0916-0.48087%200.35531-1.1222%201.0128-1.4789%201.5159-0.16134%200.22765-0.41954%200.65945-0.57377%200.95956-0.26315%200.5121-0.63891%201.4484-0.63891%201.592%200%200.0867%200.1629%200.0891%207.0181%200.10083l5.6867%200.01-0.0292-0.12001zm-88.938%2017.32c-1.5825-0.3386-2.855-1.338-3.5105-2.7571-0.16242-0.3516-0.1748-0.3876-2.7502-7.986-0.97294-2.8705-1.8035-5.3456-1.8457-5.5003-0.11994-0.4399-0.1083-1.2774%200.02363-1.7%200.29773-0.9535%200.94198-1.6935%201.8622-2.139%200.52589-0.25459%200.92666-0.34921%201.4791-0.34921%200.66795%200%201.1624%200.13353%201.7421%200.47044%200.47315%200.27501%201.0311%200.87692%201.2911%201.3928%200.05062%200.10044%200.39769%201.1514%200.77129%202.3354%201.5455%204.8984%201.7396%205.4952%201.7691%205.4403%200.02621-0.049%200.86721-2.8075%203.7749-12.383%200.27966-0.92096%200.56685-1.8046%200.63821-1.9636%200.42657-0.95075%201.3197-1.8496%202.3506-2.3657%202.0762-1.0394%204.6764-0.48756%206.1123%201.2973%200.3252%200.40425%200.43716%200.57778%200.65421%201.014%200.10583%200.2127%200.89191%202.6043%202.1965%206.6828%202.462%207.6968%202.4988%207.809%202.533%207.7266%200.02859-0.069%204.1335-13.196%204.5251-14.471%200.22011-0.71653%200.39999-1.1465%200.57521-1.3751%200.04602-0.06%200.20546-0.2338%200.35432-0.38616%200.93798-0.96013%202.2787-1.2764%203.556-0.83878%201.0642%200.36456%201.9356%201.2828%202.2189%202.3381%200.1089%200.40567%200.1282%201.1086%200.04288%201.5623-0.03968%200.21104-0.83861%202.7844-1.7754%205.7186-0.9368%202.9342-2.4022%207.5244-3.2563%2010.2-0.8542%202.6761-1.6107%204.9941-1.6811%205.1511-0.21228%200.4737-0.66364%201.1052-1.1059%201.5475-0.7217%200.7217-1.4863%201.1437-2.4215%201.3367-0.39702%200.082-0.55395%200.092-1.1783%200.073-0.87692-0.027-1.3068-0.1297-2.0299-0.4876-0.98749-0.4887-1.8017-1.3319-2.2701-2.3513-0.10265-0.2233-3.8909-11.567-4.7111-14.107l-0.05639-0.1747-0.0893%200.2838c-0.33537%201.0656-1.7822%205.7611-2.8902%209.38-0.7232%202.3618-1.3717%204.4196-1.4411%204.5727-0.30963%200.6829-0.99035%201.5178-1.6121%201.9773-0.581%200.4293-1.2436%200.7229-1.9224%200.8517-0.49907%200.095-1.4397%200.086-1.9229-0.017zm30.972%200.024c-1.3271-0.3058-2.4225-1.3181-2.6652-2.4629-0.15548-0.7336-0.07987-1.0635%201.0518-4.5908%201.0263-3.1988%204.4956-13.423%204.8955-14.427%200.55797-1.4012%201.4136-2.7269%202.433-3.7699%200.8866-0.90709%201.7084-1.5089%202.7528-2.0161%200.71269-0.34611%201.1954-0.52199%201.9191-0.69915%200.89692-0.21959%201.4088-0.27016%202.5126-0.24822%201.1264%200.0224%201.6068%200.0983%202.407%200.38013%200.64265%200.22637%201.0347%200.46669%201.4565%200.89282%200.56438%200.57021%200.81288%201.0897%200.89336%201.8677%200.17363%201.6783-0.74671%203.1352-2.3128%203.6611-0.58579%200.19672-1.1452%200.22155-1.8595%200.0826-0.90297-0.17569-1.391-0.1217-2.1342%200.23612-0.83129%200.40018-1.5041%201.1175-1.8275%201.9485-0.0607%200.15606-0.97725%202.9357-2.0367%206.1769-3.4004%2010.403-3.6067%2011.021-3.7842%2011.328-0.23053%200.3988-0.86693%201.0223-1.2787%201.2526-0.5629%200.3147-0.93744%200.4167-1.5933%200.4336-0.37718%200.01-0.65533-0.01-0.82942-0.046zm-50.657-0.07c-3.5304-0.2948-7.1105-2.2328-9.5956-5.1942-1.0775-1.2841-2.2048-3.3052-2.519-4.5164-0.09954-0.3837-0.08948-1.1459%200.02082-1.5772%200.30622-1.1973%201.2139-2.1397%202.3563-2.4462%200.35408-0.095%201.2259-0.1075%201.5715-0.023%200.38353%200.094%200.91376%200.3717%201.2447%200.6513%200.55015%200.4648%200.94268%201.0119%201.6119%202.2467%200.71719%201.3232%201.5122%202.2191%202.6437%202.9789%200.96434%200.6476%202.4296%201.1656%203.5796%201.2655%200.40093%200.035%201.0024-0.035%201.3896-0.1626%200.78936-0.2591%201.3606-1.0691%201.3606-1.9292%200-0.659-0.36063-1.3006-1.0148-1.8053-0.12861-0.099-0.78284-0.4685-1.4538-0.8205-1.7682-0.9277-2.4344-1.3364-3.2913-2.0192-1.695-1.3504-2.6637-2.8642-2.993-4.6772-0.09936-0.54692-0.13663-1.9552-0.06676-2.5225%200.36338-2.9504%201.9702-5.2628%204.5138-6.4956%201.3161-0.63795%202.7467-0.95235%204.3278-0.95118%202.2749%200.001%204.2853%200.73925%206.0429%202.217%201.024%200.86096%201.474%201.8956%201.3512%203.1067-0.14154%201.3964-1.0082%202.4458-2.3085%202.7954-0.4166%200.11198-1.2623%200.10125-1.7243-0.0219-0.51063-0.13609-1.1455-0.47221-1.7898-0.94765-0.31212-0.23031-0.68236-0.4744-0.82275-0.54241-1.0884-0.52731-2.3832%200.0376-2.7752%201.2108-0.17754%200.53134-0.07789%201.1761%200.24815%201.6056%200.27067%200.35657%200.67904%200.62289%202.5182%201.6423%201.9587%201.0856%202.3172%201.305%202.8901%201.7685%202.426%201.9627%203.579%205.1485%202.9823%208.2403-0.1966%201.0188-0.70521%202.2089-1.2972%203.0354-0.34839%200.4863-1.112%201.2947-1.5786%201.6709-1.4193%201.1446-3.2191%201.8998-5.1224%202.1493-0.64776%200.085-1.7153%200.1161-2.3001%200.067z%22%2F%3E%0A%20%20%3Ctext%20style%3D%22word-spacing%3A0px%3Bletter-spacing%3A0px%22%20xml%3Aspace%3D%22preserve%22%20font-size%3D%2213.487px%22%20y%3D%221040.9281%22%20x%3D%2250.541534%22%20font-family%3D%22sans-serif%22%20line-height%3D%22125%25%22%20fill%3D%22%23cccccc%22%3E%3Ctspan%20x%3D%2250.541534%22%20y%3D%221040.9281%22%3EDownloading...%3C%2Ftspan%3E%3C%2Ftext%3E%0A%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-size: contain;
}
